.update-wrapper{
display:flex;
justify-content:center;
margin-top:40px;
}

.update-card{
width:650px;   /* form size control */
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
margin-bottom:80px;
}

.title{
text-align:center;
color:white;
padding:10px;
border-radius:8px;
background:linear-gradient(135deg,#4e73df,#1cc88a);
margin-bottom:20px;
}

.form-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.form-group{
display:flex;
flex-direction:column;
}

.form-group label{
font-weight:600;
margin-bottom:4px;
}

.form-control{
padding:7px;
border-radius:6px;
border:1px solid #ccc;
}

.full{
grid-column:1/3;
}

.btn-box{
text-align:center;
margin-top:15px;
}

.btn-submit{
background:#1cc88a;
border:none;
color:white;
padding:7px 18px;
border-radius:6px;
margin-right:10px;
}

.btn-cancel{
background:#e74a3b;
border:none;
color:white;
padding:7px 18px;
border-radius:6px;
}