<div class="manage-users-wrapper">

<div class="container">
<button class="btn-add" routerLink="/add_volunteer">
Add Volunteer
</button>

<div class="card custom-card">
    
<div class="card-header custom-header">
<h3>Manage Volunteers</h3>


</div>

<div class="card-body table-responsive">

<table class="table custom-table">

<thead>
<tr>
<th>State</th>
<th>City</th>
<th>Volunteer Name</th>
<th>Contact</th>
<th>Email</th>
<th>Action</th>
</tr>
</thead>

<tbody>

<tr *ngFor="let v of data">

<td>{{v.state}}</td>
<td>{{v.city}}</td>
<td>{{v.volunteer_name}}</td>
<td>{{v.contact}}</td>
<td>{{v.email}}</td>

<td class="action-buttons">

<button
class="btn-delete"
(click)="deleteVolunteer(v._id)">
Delete
</button>

<button
class="btn-update"
(click)="rowsearch(v._id)">
Update
</button>

</td>

</tr>

</tbody>

</table>

</div>

</div>

</div>

</div>